<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/hoja-estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Montserrat:wght@100&family=Mukta:wght@200;800&family=Nunito+Sans:wght@900&family=PT+Sans:ital,wght@1,700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@700&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link href = "https: //fonts.googleapis.com/css2? family = Fira + Sans: ital @ 1 & family = Heebo: wght @ 400; 900 & family = Montserrat: wght @ 100 & family = Mukta: wght @ 200; 800 & family = Nunito + Sans: wght @ 900 & family = PT + Sans: ital, wght @ 1,700 & family = Roboto: wght @ 400; 500; 700 & familia = Signika + Negativo: wght @ 700 &family = Ubuntu: wght @ 700 & family = Zen + Kaku + Gothic + Antique:wght @ 300 & family =Zen + Maru + Gothic: wght @ 300 & display = swap "rel =" stylesheet ">
    <title>Bienvenida</title>
</head>
<body >
    <!---------- Primera Sección de la pantalla -----------> 
    <div class="diagnostico-de-enfermedades">
        <h1>
            Diagnostico de 
        </h1>
    </div> 

    <div class="diagnostico-de-enfermedades-2">
        <h1>
           Enfermedades 
        </h1>
    </div> 

    <div class="digestivas">
        <h2>
            Digestivas
        </h2>
    </div> 

    <div class="aplicando-logica-difusa">
        <h2>
            Aplicando Lógica Difusa
        </h2>
    </div> 

    <div class="boton_mover">
        <button type="button" id="botton-comenzar" onclick="location.href = '/preguntas'"> Comenzar </button>
    </div>
    <div class="pantalla-1">
        <img src="../static/images/fondo-1.jpg" alt="" id="fondo1">
    </div>

    <!-------------- Segunda Sección de la pantalla --------->
    <div class="pantalla-2">
        <img src="../static/images/cabezera.jpeg" alt="" id="fondo2">
    </div>

    <div class="caja-de-informacion">
        <img src="../static/images/caduceo.png" alt="" id="caduceo-img">

        <div class="pregunta">
            <h2>¿Qué son las enfermedades digestivas? </h2> 
        </div>

        <img src="../static/images/tachuela.png" alt="" id="tachuela-1">
        <img src="../static/images/tachuela.png" alt="" id="tachuela-2">
        <img src="../static/images/tachuela.png" alt="" id="tachuela-3">


        <div class="texto-1">
            <h4>
                Las enfermedades 
                <br>
                digestivas son trastornos 
                <br>
                del aparato digestivo,que 
                <br>
                algunas veces se denomina <br>
                tracto gastrointestinal (GI)
            </h4>
        </div>
       
        <div class="texto-2">
            <h4>
                En la digestión, el alimento y las bebidas
                <br>
                se descomponen en pequeñas partes 
                <br>
                (llamadas nutrientes) que el cuerpo puede
                <br>
                absorber y usar como energía y pilares  <br>
                fundamentales para las células.
            </h4>
        </div>

        <div class="texto-3">
            <h4>
                El aparato digestivo está compuesto 
                <br>
                por el esófago (tubo de alimento), el 
                <br>
                estómago, los intestinos grueso y 
                <br>
                absorber y usar como energía y pilares  <br>
                vesícula biliar.
            </h4>
        </div>
    

    </div>
     <!-------------- Tercera Sección de la pantalla --------->
    <div class="pantalla-3">
        <img src="../static/images/fondo-2.png" alt="" id="fondo3">
    </div>

    <div class="pregunta-2">
        <h2>¿Por que tratar las enfermedades Digestivas?</h2>
    </div>

    <img src="../static/images/tachuela.png" alt="" id="tachuela-4">

    <div class="texto-4">
        <h4>
            Durante la temporada de calor generalmente aumentan las
            <br>
            enfermedades gastrointestinales debido al incremento en la 
            <br>
            temperatura, estos padecimientos son causados 
            <br>
            principalmente por bacterias, virus o parásitos como la 
            <br>
            salmonella, E. coli y las amibas.
        </h4>
    </div>

    <img src="../static/images/tachuela.png" alt="" id="tachuela-5">

    <div class="texto-5">
        <h4>
            Para evitar estos padecimientos es necesario tomar algunas medidas precautorias como: <br>
            -Tener higiene en la preparación de los alimentos<br>
            -Evitar comer en lugares ambulantes o con condiciones insalubres<br>
            -Lavarse muy bien las manos, antes de comer y después de ir al baño<br>
            -Lavar y desinfectar frutas y verduras<br>
            -Freír o cocer muy bien los alimentos, sobre todo, carnes, pescados y mariscos<br>
            -Refrigerar los alimentos para evitar su descomposición<br>
            -No consumir alimentos caducados<br>
            -Tomar al menos dos litros de agua diariamente<br>
        </h4>
    </div>

    <footer>
        <div class="texto-footer">
            <h3>Inteligencia Artificial <br> Facultad de Informática <br> 2021 </h3>
        </div>
           
    </footer>
    
</body>
</html>